body{
	/*background-image: url("background.png");*/
	background-size: cover;
	background-position: center;
	background-color: #00bcd41c;
}
.news{
	height: 450px;
    width: 417px;
	background-position: center;
	background-size: cover;
}
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}
.main #news{
	display: flex;
	flex-direction: column;
	width: 417px;
	min-width: 300px;
	margin: 5px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	background-color: #3951413d;
	height: 500px;
	

}
img{
	height: 50px;
	width: 100px;
	padding: 16px;
	left: 5px;

	

}


.main #news:hover{
	color:#1a237e; 
	background-color: #bbcfceba;
	transform: scale(1.1);
	transition: 1s;
}

.des{
	width: 250px;
	font-family: monospace;
	font-size: 20px;

}
button{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 7px;
}
.heading{
	text-align: center;
}
.author{
	    font-family: fantasy;
	    font-size: 25px;
}
h1{
	font-family: monospace;
	font-size: 40px;
}